<a href="https://colab.research.google.com/github/Keerthanarrt/Github_Data/blob/main/class_6_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Dictionary
2.Functions

In [ ]:
#Dictionary using integer keys,mixed keys,dict()
d1={1:"apple",2:"orange"}
print(d1)
d2={"name":"k","age":"6"}
print(d2)
print(dict({"name":"k","age":"6"}))

{1: 'apple', 2: 'orange'}
{'name': 'k', 'age': '6'}
{'name': 'k', 'age': '6'}

In [ ]:
#create dictionary
table={1:2,"name":"cat",2.25:4.6,7:"hi","s":4}
print(table)
#remove an item
print(table.pop(2.25))  #-->It will remove values using key
print(table)
#adding values using key
table["zoo"]="animal"
print(table)
#delete values using del()
del table[7]
print(table)
#remove all
table.clear()
print(table)

{1: 2, 'name': 'cat', 2.25: 4.6, 7: 'hi', 's': 4}
4.6
{1: 2, 'name': 'cat', 7: 'hi', 's': 4}
{1: 2, 'name': 'cat', 7: 'hi', 's': 4, 'zoo': 'animal'}
{1: 2, 'name': 'cat', 's': 4, 'zoo': 'animal'}
{}
table is empty

In [ ]:
#FUNCTIONS:
#return()
def keerthi():
  print("hi")
  return "bye",1,6  #-->can use multiple values


  print("out of the function")  #--->wil not work aft return
print("out of the function")  #indentation is important
keerthi()           #-->call a function otherwise it wil not work

out of the function
hi

('bye', 1, 6)

In [ ]:
#return
def greet(name):    #Here greet is function(), name is a parameter or variable
  a= "sam" + name   #-->can add only str + str or int + int mixed types will throw error
  return a

print(greet("boss"))   #-->function is called and name is replaced with "boss"(line 2)

samboss

In [ ]:
def greet(name):    #Here greet is function(), name is a parameter or variable
  a= "sam" + str(name)   #-->can add only str + str or int + int mixed types will throw error
  return a

print(greet("3"))

sam3

In [ ]:
def add(a,b):    #getting user input
  c= a + b
  #print(c)    #-->here both print and return works(either one can b used)
  return c

add(int(input()),int(input()))

5
5

10

In [ ]:
#assigning values first -->x is a global variable which can b used for the complete code, z can b used only within the function(local variable) otherwise it wil show error
x=40

def number():
  z=30
  print(x)
number()
print(z)

40

NameError: ignored

In [ ]:
x=20             #-->global variable will b second preference
def number():
  x=25          #-->local variable will get first preference
  print(x)
number()
print(x)

In [ ]:
#(important:We cannot change the value of global variable inside the function but we can do that using (global)
u=22
def cal():
  global u  #-->Globe is used to use the global variable inside function()
  u=u*2
  return u
cal()

44

In [ ]:
# (*)argv(argument variable) -->is used,if dont know how many parameters or arguments does a function has...
def multiple(*s):
  for a in s:
    return s
multiple("a","b","c","1")

('a', 'b', 'c', '1')

In [ ]:
def multiple(*s):
  print(s)
  return s
a,b,c,d=multiple("a","b","c","1")
d   #-->d is printed o/p will b assigned value

('a/n', 'b', 'c', '1')

'1'

In [ ]:
#multiple arguments inside one function
def arg(a,b,*c):
  print(a,b)
  return c   #-->here like indexing first 2 arguments gets assigned and remaining elements will b alloted to c
arg("disk","cd","ram","rom","drive")

disk cd

('ram', 'rom', 'drive')

In [ ]:
#keyword arguments:
def myfun(**karg):
  print(karg.items())
  for key,value in karg.items():
    print("%s == %s" %(key,value) )

myfun(f="a",e="b")    #-->key will not have numbers and string""

dict_items([('f', 'a'), ('e', 'b')])
f == a
e == b

In [ ]:
#3 types of formating:
print( "hi %s" % ("friend"))
print("hi {}" .format ("frnd"))
buddy="frnd"
print(f"hi {buddy}")

hi friend
hi frnd
hi frnd

In [ ]:
#\n & \t
print("\ngo","\ndown")   #--->next line
print("\tgo","\tdown")   #-->tab

go
down
	go 	down

In [ ]:
def function_in_module():
  print("found inside function")

if __name__ == "__main__":      #--->syntax to create main file
  print("runned directly not imported")
  function_in_module()

runned directly not imported
found inside function

In [ ]:
import my_module

In [ ]:
#calling function from diff file
my_module.function_in_module()

found inside function

/content/my_module.py -->path of my_module.py

In [ ]:
#lambda function:   this function works in a single line with many arguments but one expression(condition)
x=lambda a:a+10    #--> x is a normal variable,a is an argument
print(x(5))

15

In [ ]:
a=lambda x,y,z:(x.upper(),y.upper(),z.upper())
print(a(input(),input(),input()))

gun
fun
run
('GUN', 'FUN', 'RUN')

In [ ]:
#can use lambda inside function and also inside lambda we can use another function both can b done
#Here we use lambda function inside a function
def myfun(n):
  return lambda a:a*n   #return will take 'a' inside the variable first
first=myfun(3)          #indentation is important here it should b outside the function
print(first(11))        #usually we will call 'myfun()'function but here lambda and myfun is stored and used in 'first'variable so first is called

33

In [ ]:
#here we use function inside lambda function
#this method can only b used to import from different file
def add(a,b):
  return a+b
x=lambda a,b:add(a,b)
print(x(20,30))

50

In [ ]:
#example task:
first_name=(input("Enter first name:"))
last_name=(input("Enter last name:"))
if first_name.isalpha() and last_name.isalpha():
  print("Welcome!",first_name.capitalize(),last_name.capitalize())
else:
  print("User Name incorrect")
phone_number=(input("Enter phone number:"))
length=len(phone_number)
if phone_number.isdigit() and length==10:
  print("+91",phone_number)
email_id=(input("Enter email_id:"))
special_char=".,_"
for i in email_id:
  if i in special_char and email_id.endswith("@gmail.com"):
    print(email_id)
  else:
      print("Invalid email_id")
  break

Enter first name:ramu
Enter last name:r
Welcome! Ramu R
Enter phone number:9090909090
+91 9090909090
Enter email_id:fthebs
Invalid email_id