<a href="https://colab.research.google.com/github/Keerthanarrt/Github_Data/blob/main/python_basics4_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NOTEBOOK CONTENT:**
1.list (including unpacking(*))
2.slicing
3.append()
4.sep (in built function)
5.unpacking(*)
6.insert() (using index no)
7.extend()
8.count()
9.reverse()
10.sort() (ascending and descending ording using reverse())
11.list operations:
     1.remove()
     2.pop()
12.del -->delete
13.String functions

In [ ]:
#list
a=[1,1.4,"keerthi",True]
print(a)

[1, 1.4, 'keerthi', True]

In [ ]:
#list (using index no's)
b=[12,13,14,15,16,17,18]
print(b[4])

16

In [ ]:
#unpacking(*)
print(*b)

12 13 14 15 16 17 18

In [ ]:
#sep
print("k","d","r", sep="")
print("9","9","23", sep="/")
print("keerthi","2023",sep="@")

kdr
9/9/23
keerthi@2023

In [ ]:
t = ["a","p","p","l","e"]
print(*t)

a p p l e

In [ ]:
b=[12,13,14,15,16,17,18]
print(b[:4])        #slicing

[12, 13, 14, 15]

In [ ]:
b=[12,13,14,15,16,17,18]
print(b[::-2])

[18, 16, 14, 12]

In [ ]:
print(b[0:])

[12, 13, 14, 15, 16, 17, 18]

In [ ]:
#append (adding items to the list "At the end")
a=[]
a.append(2)
a.append("keerthi")
a.append(1.6)
a.append([1,2,3])
print(a)

[2, 'keerthi', 1.6, [1, 2, 3]]

In [ ]:
#replacing values or updating values "using the positions"
a=[]
a.append(2)
a.append("keerthi")
a.append(1.6)
a.append([1,2,3])
a[3][2]=200           #using index we can replace value
print(a)

[2, 'keerthi', 1.6, [1, 2, 200]]

In [ ]:
#insert
b = [1,4,8]
b.insert(1,"number")   #inserted using index,here 1 is the index no "number" is the element that should b inserted
print(b)

[1, 'number', 4, 8]

In [ ]:
#inserting inside list of list
a=[]
a.append(2)
a.append("keerthi")
a.append(1.6)
a.append([1,2,3])
a[3].insert(1,2000)   #For muliple lists,variable and list position should be mentioned before insert.
print(a)

[2, 'keerthi', 1.6, [1, 2000, 2, 3]]

In [ ]:
#extend
a=[]
a.append(2)
a.append("keerthi")
a.append(1.6)
a.append([1,2,3])
a[3][2]=200
a.extend([201,202,203])           #using extend
print(a)

[2, 'keerthi', 1.6, [1, 2, 200], 201, 202, 203]

In [ ]:
#extend output will be indiviual element whereas,append will be printed as a list
a=[]
a.append(2)
a.append("keerthi")
a.append(1.6)
a.append([1,2,3])
a[3][2]=200
a[3].extend([201,202,203])           #using extend we can also add elements inside list using index position
print(a)

[2, 'keerthi', 1.6, [1, 2, 200, 201, 202, 203]]

In [ ]:
#count() this will count the elements count inside the list but not list of list
b=[1,2,4,4,5,6,6,6,[6,6,6]]
b.count(6)                  #print is not needed

3

In [ ]:
#index
#this will not show zero if not available instead will throw error (though zero is also an index position)
#index position is the output where the particular number is appeared for 1st time,repeated elements are not printed
b=[1,2,4,4,5,6,6,6,[6,6,6]]
b.index(4)

2

In [ ]:
#reverse
b.reverse()   #it wil continuously reverse the same elements while running outputs again and again(so everytime o/p will diff)
print(b)

[[6, 6, 6], 6, 6, 6, 5, 4, 4, 2, 1]

In [ ]:
#sort
#reverse=True-->Descending
#reverse=False-->Ascending
b.sort(reverse=True)
print(b)                  #will give error when using multiple datatypes lik str,etc & list of list is also not allowed

TypeError: ignored

In [ ]:
#sort
b=[1,2,33,44,55,66,777]
b.sort(reverse=True)
print(b)
b.sort(reverse=False)
print(b)

[777, 66, 55, 44, 33, 2, 1]
[1, 2, 33, 44, 55, 66, 777]

In [ ]:
#list operations(it will work only on list)
#remove
#pop
print(b)
b.remove(66)     #-->will remove particular element
print(b)

[1, 2, 33, 66]
[1, 2, 33]

In [ ]:
print(b)
b.pop(3)    #removed using index position
print(b)

[1, 2, 33, 55, 66]
[1, 2, 33, 66]

In [ ]:
#del is common function can b used in diff data structures
print(b)
del b[2]     #deleted using index no (only [] brackets are allowed for list)
print(b)

[1, 2, 33]
[1, 2]

In [ ]:
#sring functions":
c="Hello Welcome to our home"
print (c.upper())
print (c.lower())
print (c.capitalize())
print (c.swapcase())

HELLO WELCOME TO OUR HOME
hello welcome to our home
Hello welcome to our home
hELLO wELCOME TO OUR HOME

In [ ]:
#these functions will give only true or false
c="Hello Welcome to our home"
print(c.isalnum())  #--> should have only numbers and alphabets special characters not allowed including space
c="Hello1Welcome1to1our1home"
print(c.isalnum())
c="hello"
print(c.isalpha())   #--> only alphabets
c="1"
print(c.isdigit())   #--> only numbers

False
True
True
True

In [ ]:
c ="\u0030"            #-->askey or unicode numbers
print(c.isnumeric())

True

In [ ]:
isinstance(3+4J,complex) #-->complex numbers

True

In [ ]:
isinstance(34,complex) #-->not a complex number it will giv false

False

In [ ]:
a=[1,2,3,4,5,6,7]
for i in a:
  print(a)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
a=[1,2,3,4,5,6,7]
for i in a:
  print(i)

1
2
3
4
5
6
7

In [ ]:
#This is how a decimal number is seperated from a string during o/p
'''We use \d+\.\d+ regular expression in python to get non digit characters from a string.
\d returns a match where the string contains digits (numbers from 0 9)

+ implies zero or more occurrences of characters.

\ signals a special sequence (can also be used to escape special characters).

. is any character (except newline character).'''

import re   #regular expression
string = "Today's temperature is 40.5 degrees."
x=re.findall("\d+\.\d+",string)
print(x)

['40.5']

In [ ]:
c = " keerthi "
d = " "
print(d.isspace())  #-->d variable hav only space so it becomes true
print(c.isspace())  #-->only space it will check even with a string and a space left it will b false
print(c.isupper())
print(c.islower())

True
False
False
True

In [ ]:
#split -->it will take space to split by default.We can also add characters to split
d=("apple berry fig")
print(d.split())
print(d.split("e")) #-->where ever e is present it splits
print(len(d))      #--->gives length of the string

['apple', 'berry', 'fig']
['appl', ' b', 'rry fig']
15

In [ ]:
#Strip function:
f = ("    apple berry fig   ")
print(f.strip())   #-->Removes space only at the right and left side of string not inbetween
print(f.rstrip())  #-->removes white space in the right
print(f.lstrip())  #-->removes white space in the left
f = ("nnnnnapple berry fignnn")
print(f.strip("n")) #-->removes all the n's(What ever we specify inside ()) which is in both the corners
print(f.lstrip("n")) #-->removes in left corner
print(f.rstrip("n")) #-->removes in right corner

apple berry fig
    apple berry fig
apple berry fig
apple berry fig
apple berry fignnn
nnnnnapple berry fig

In [ ]:
#replace
e="applrr"
k=e.replace("applrr","apple")
print(k)

#find
k="apple"
print(k.find("l"))   #-->find will giv index no if o/p is -1 then it indicates tat particular item is not present

l=" going to office today"     # It will giv starting index no if u find a word
l.find("office")

apple
3

10

In [ ]:
#startswith & endswith
print(l.startswith("go"))  #-->due to whitespace o/p is false
print(l.startswith(" "))
print(l.endswith("day"))

False
True
True

In [ ]:

f_name=str(input("First name:"))
l_name=str(input("Last name:"))

if f_name.isalpha() and l_name.isalpha():
  print("Welcome",f_name.capitalize(),l_name.capitalize())
  number=str(input("Enter your Number:"))
  length=len(number)
  if number.isdigit() and length==10 and 0<length<11:
    print("+91",number)
    email = str(input("Enter your Email-Id::"))
    special_characters = "@._"
    for i in email:
      if i in special_characters or email.endswith("@gmail.com") :
        print(email)
        break


      else:
          print("Invaild Email -- Id")


  else:
    print("Phone Number Not Found")


else:
  print("User Not Found")

First name::keerthana
Last name::ramesh
Welcome Keerthana Ramesh
Enter your Number::9999999990
+91 9999999990
Enter your Email-Id::kerrth_1@gmail.com
kerrth_1@gmail.com